@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: gray;
}

.main-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 480px;
    width: 1000px;
    margin: 5rem auto;
}

.chair-image{
    width: 50%;
    height: 100%;
}


.chair-text{
    width: 50%;
    height: 100%;

    & >p{
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
    }

    & >:nth-child(2){     /*immediate second child*/
        font-size: 1.9em;
        letter-spacing: 0.05rem;
        font-weight: 800;
        color: white;
    }

    & >:nth-child(3){
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
        color: white;

        & >span{
            padding-left: 1rem;
            font-size: 1.1rem;
            font-weight: 500;
            text-decoration: line-through;
        }
    }
}

.section-fluid{

    & .desc-detail{
        padding-top: 1.4rem;

        & label{
            color: white;
            font-size: 1.1rem;
            font-weight: 600;
            padding-right: 1rem;

        }

        & input{
            display: none;
        }
    }
}

.accor-1>p{
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right:10rem;
    color: white;
    font-weight: 500;
}

.accor-2{
    display: none;
}

.choose-color{
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    font-weight: 800;
    color: white;
    padding-bottom: 0.8rem;
}
.cart-btn-container{
    margin-top: 3rem;
    width: 16rem;
    height: 3rem;

     & #add-to-cart-btn{
        text-decoration: none;
        display: inline-block;
        padding: 0.7rem 2rem;
        color: white;
        border: 1px solid white;
        background-color: darkblue;
        border: none;
        width: 80%;
        height: 100%;
        font-weight: 500;
        border-radius: 5px;

        & i{
            padding-right: 0.5rem;
        }
    }    
}


.choose-color~.color-1{
    background-image: url("/images/color1.jpg");
}
.choose-color~.color-2{
    background-image: url("/images/color2.jpg");
}
.choose-color~.color-3{
    background-image: url("/images/color3.jpg");
}
.choose-color~.color-4{
    background-image: url("/images/color4.jpg");
}
.choose-color~.color-5{
    background-image: url("/images/color5.jpg");
}
.choose-color~.color-6{
    background-image: url("/images/color6.jpg");
}






/*hide all radio buttons*/
.choose-color~input[type="radio"]{
    display: none;   
}

.choose-color~label{
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
}


/*radio button choose color functionality*/
.choose-color~input[type="radio"]:checked + label{
    border: 2px solid white;
    transform: scale(1.1);
}


.img-chair{
    position: absolute;  /*overlap all the chairs*/
    left: 25%;
    top: 8%;
    background-image: url("/images/chair1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25%;
    height: 50%;
    margin-top: 1rem;
    border-radius: 10px;
    /* z-index: 4; */
    opacity: 0;
}

.for-color-1:checked ~ .img-chair-1{
    opacity: 1;
}


.img-chair-2{
    background-image: url("/images/chair2.png");
}
.for-color-2:checked ~ .img-chair-2{
    opacity: 1;
} 


.img-chair-3{
    background-image: url("/images/chair3.png");
}
.for-color-3:checked ~ .img-chair-3{
    opacity: 1;
}


.img-chair-4{
    background-image: url("/images/chair4.png");
}
.for-color-4:checked ~ .img-chair-4{
    opacity: 1;
}


.img-chair-5{
    background-image: url("/images/chair5.png");
}
.for-color-5:checked ~ .img-chair-5{
    opacity: 1;
}


.img-chair-6{
    background-image: url("/images/chair6.png");
}
.for-color-6:checked ~ .img-chair-6{
    opacity: 1;
}
