@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: gray;
}

.main-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 450px;
    width: 1000px;
    margin: 5rem auto;
}

.chair-image{
    width: 50%;
    height: 100%;
}


.chair-text{
    width: 50%;
    height: 100%;
}